<!-- forgot-password.hbs -->
<div style="background-color:#f3f4f6;padding:24px;border-radius:12px;max-width:500px;margin:auto;">
  <h1 style="font-size:20px;font-weight:bold;color:#1f2937;">Đặt lại mật khẩu</h1>
  <p style="color:#374151;margin-top:8px;">
    Xin chào {{email}}, chúng tôi đã nhận được yêu cầu đặt lại mật khẩu.
  </p>

<!--  OTP Field, passed prop OTP as string type-->
  <p style="font-size: 16px; font-weight: bold; color: #1f2937;">Mã xác thực của bạn là:</p>
  <div style="margin: 0 auto; padding: 16px; background-color: #e5e7eb; border-radius: 8px; width: fit-content;">
    <p style="font-size: 24px; font-weight: bold; color: #2563eb;">{{otp}}</p>
  </div>

  <a href="{{resetUrl}}"
     style="margin: 0 auto ;display:inline-block;background-color:#2563eb;color:white;padding:8px 16px;border-radius:6px;text-decoration:none;">
    Đặt lại mật khẩu
  </a>
  <p style="font-size:12px;color:#6b7280;margin-top:16px;">
    Nếu bạn không yêu cầu điều này, hãy bỏ qua email này.
  </p>
</div>
